<script
  type="application/json"
  data-section-type="faq"
  data-section-id="{{ section.id }}"></script>
<section class="section-wapper" style="background: {{ section.settings.sec_bg }}; padding-top: {{ section.settings.sec_top | append: 'px' }}; padding-bottom: {{ section.settings.sec_bottom | append: 'px' }}">
  <div class="section faq">
    <div class="
        container
        main
        content
        has-background
        has-gutter-enabled
      ">
      {% if section.settings.title != blank %}
        <div class="
            one-whole
            column
            page
          ">
          <h2 class="title">
            {{ section.settings.title | escape }}
          </h2>
        </div>
      {% endif %}


      <div class="       
        one-whole
        medium-down--one-whole
        column
        faq
        faq__column-1">
        {% if section.blocks.size > 0 %}
          <dl class="faqAccordion">
            {% for block in section.blocks %}
              {% if block.type == "heading" %}
                {% if block.settings.faq_title != blank %}
                  <h2 class="title faq--heading">
                    {{ block.settings.faq_title }}
                  </h2>
                {% endif %}
              {% endif %}
              {% if block.settings.title != blank %}
                <dt>
                  <button
                    type="button"
                    aria-controls="panel-01"
                    aria-expanded="true">
                    {{ block.settings.title }}
                  </button>
                </dt>
                <dd id="panel-01" aria-hidden="false">
                  {{ block.settings.answer }}
                </dd>
              {% endif %}
            {% endfor %}
          </dl>
        {% endif %}
      </div>
      {% if section.settings.link != blank and section.settings.link_text != blank %}
        <a href="{{ section.settings.link }}" class="button">{{ section.settings.link_text }}</a>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "FAQ",
    "class": "shopify-section--faq FAQ jsFAQ",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_faq_sidebar",
        "label": "Show sidebar",
        "default": false
      },
      {
        "type": "color",
        "id": "sec_bg",
        "label": "Section background color"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "FAQ"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Button Link"
      }, {
        "type": "text",
        "id": "link_text",
        "label": "Button Label",
        "default": "See All FAQs"
      }, {
        "type": "header",
        "content": "Spacing"
      }, {
        "type": "range",
        "id": "sec_top",
        "step": 5,
        "min": 0,
        "max": 80,
        "unit": "px",
        "default": 0,
        "label": "Padding top"
      }, {
        "type": "range",
        "id": "sec_bottom",
        "step": 5,
        "min": 0,
        "max": 80,
        "unit": "px",
        "default": 0,
        "label": "Padding bottom"
      }
    ],
    "blocks": [
      {
        "name": "Frequently Asked Question",
        "type": "content",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Question",
            "default": "Question"
          }, {
            "type": "richtext",
            "id": "answer",
            "label": "Answer",
            "default": "<p>Provide the answer to the question here.</p>"
          }
        ]
      }, {
        "name": "Heading",
        "type": "heading",
        "settings": [
          {
            "type": "text",
            "id": "faq_title",
            "label": "Heading",
            "default": "Section heading"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "FAQ",
        "category": "Store information",
        "blocks": [
          {
            "type": "heading",
            "settings": {}
          },
          {
            "type": "content",
            "settings": {}
          },
          {
            "type": "content",
            "settings": {}
          },
          {
            "type": "content",
            "settings": {}
          }, {
            "type": "heading",
            "settings": {}
          }, {
            "type": "content",
            "settings": {}
          }, {
            "type": "content",
            "settings": {}
          }, {
            "type": "content",
            "settings": {}
          }
        ]
      }
    ]
  }
{% endschema %}