{% layout none %}
{% comment %}
<div id="temp-cart-data">
<script>
    var cartTempObj = {
    "cartobj": [
        {% for item in cart.items %}
            {
                "data_line_id": {{ forloop.index }},
                "data_variant_id": {{ item.id }},
                "data_tags":"
                {% for tag in item.product.tags %}
                  {% if tag == 'BOGOOFF' %}
                    {{ tag }}{% endif %}
                {% endfor %}"
            }{% unless forloop.last %},{% endunless %}
        {% endfor %}
    ]
}
</script>
</div>
{% endcomment %}

<div id="temp-cart-data">
{% for item in cart.items %}
<div
class="cart-temp-data"
data-line-id="{{ forloop.index }}"
data-variant-id="{{ item.id }}"
{{ item.properties }}===
data-tags="{%- if item.properties contains 'free' -%}
        {%- for p in item.properties -%}
          {%- if p.last contains 'free' -%}
            {{- p.last -}}
          {%- endif -%}
        {%- endfor -%}
      {%- else- %}
{%- for tag in item.product.tags %}{% if tag =='BOGOOFF' -%}{{- tag -}}{%- endif -%}{%- endfor -%}{%- endif -%}"></div>
{% endfor %}
</div>
